version: '3.8'

services:
  backend:
    build: ./server
    env_file:
      - .env
    ports:
      - 5000:5000
    volumes:
      - ./server:/usr/src/app/server
      - /usr/src/app/server/node_modules
    command: npm run start
  frontend:
    build: ./client
    ports:
      - 5173:3000
    volumes:
      - ./client:/usr/src/app/client
    command: npm run dev
  ollama:
    build:
      context: ./ollama
      target: builder
    ports:
      - 11434:11434
    volumes:
      - ./ollama:/root/.ollama
    command: serve
    # https://huggingface.co/google/codegemma-2b#description
